{% extends "network/layout.html" %}

{% block body %}
<!-- New Post form -->
<div id="posts-wrapper" class="row">
    <div class="col col-12 border">
        <h4>New Post:</h4>
        <form id="new-post-form">
            <div class="form-group" id="new-post-form">
                <input required autocomplete="off" id="new-post-body"class="form-control" type="text" placeholder="What are you thinking today?">
            </div>
            <input class="btn btn-primary" id="submit" type="submit" value="Post">
        </form>
    </div>
</div>
<div id="following-wrapper" class="row">
    Implement Following here
</div>
<div id="user-wrapper" class="row">
    Implement User here
</div>
{% endblock %}
