{% extends "network/layout.html" %}

{% block body %}
<div class="row">
    <!-- User profile wrapper -->
    <div id="user-wrapper" class="col-12 text-center">
        <h2 id="profile-name">First and Last Name</h2>
        <h6 id="profile-username">@username</h6>
        <div id="profile-stats">
            <span class="counter" id="profile-nFollowers"></span><span> Followers</span>
            <span class="counter" id="profile-nFollowing"></span><span> Following</span>
        </div>
        <button style="display: none" id="follow-btn" class="btn btn-primary"></button>
    </div>

    <!-- New post form wrapper -->
    <div id="all-posts-wrapper"class="col-12 text-center">
        <h2 class="mb-4" id="welcome-msg"> Welcome, {{ request.user.first_name }}!</h2>
        <div class="col col-md-6 border mx-auto text-left" id="new-post-wrapper">
            <div class="post-usertime-section mb-2" data-section="0" data-post_id="79">
                <a class="profile-btn" data-username="{{request.user.username}}">@{{request.user.username}}</a>
            </div>
            <form id="new-post-form" action="" method='POST'>
                <div class="form-group" id="new-post-form">
                    <textarea required autocomplete="off" id="new-post-body"class="form-control" type="text" placeholder="What are you thinking today? 🤔"></textarea>
                </div>
                    <input class="btn btn-primary btn-block" id="submit" type="submit" value="Post">
            </form>
        </div>
    </div>

    <!-- Following wrapper -->
    <div id="following-wrapper"class="col-12 text-center">
        <h2>People you are following think...</h2>
    </div>

    <!-- Posts wrapper -->
    <div id="posts-wrapper" class="col-12" ></div>
    
    <!-- Paginator wrapper -->
    <div id="paginator-wrapper" class="col-12 d-flex justify-content-center">
    </div>

    <!-- Templates -->
    <div style="display: none" class="templates">
        <!-- pagination list -->
        <ul class="pagination">
            <li id="previous-btn" class="page-item disabled"><a class="page-link">Previous</a></li>
            <li id="next-btn" class="page-item disabled"><a class="page-link">Next</a></li>
        </ul>
        <!-- like icon -->
        <svg viewBox="0 0 100 100" class="like-btn">
            <path d="M 10,30
            A 20,20 0,0,1 50,30
            A 20,20 0,0,1 90,30
            Q 90,60 50,90
            Q 10,60 10,30 z"/>
        </svg>
        <!-- edit form -->
        <form action="" method='POST' class="edit-form">
            <div class="form-group" id="new-post-form">
                <textarea class="form-control" name="body" rows="4" cols="50"></textarea>
            </div>
            <input class="btn btn-link"  type="submit" value="Save">
            <input class="btn btn-link cancel-btn"  type="button" value="Cancel">
        </form>
    </div>
</div>
{% endblock %}
