/* navbar */
.nav-item > a:hover{
    cursor: pointer;
}
.active{
    font-weight: 400;
}

/* body */
.main{
    padding: 0px 0px;
}
.row{
    margin: 30px 0px;
}

/* main */
.col{
    padding: 20px 20px;
    border-radius: 15px;
    margin: 10px 0px;
}

/* post styling */
/* user */
[data-section="0"] > a{
    color: black;
   font-weight: 600;
}
/* body */
[data-section="1"] {
    font-family: Helvetica, sans-serif;
    
}
/* timestamp */
[data-section="2"] {
    color: rgb(91, 112, 131)
   
}
/* likes */
[data-section="3"] {
   
}
/* comments */
[data-section="4"] {
   
}

svg{
    height: 19.2px;
    width: 19.2px;
    fill: white;
    stroke: red;
    stroke-width: 4px;
}
svg:hover{
    fill: red;
    cursor: pointer;
}
